.App {
  text-align: center;
}

h3, h5 {
  margin: 0 !important;
  padding: 0 !important;
}

.navlink {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.navlink:hover {
  color: gray;
}